/*Global layout styles*/
* {
	box-sizing: border-box;
}

/*------------Main Styles----------*/

body,
input {
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	max-width: 100%;
	text-align: center;
}
/*------------Search Styles----------*/

input[class="search"]{
	color: #cecece;
	border: 1px solid;
	border-radius: 3px;
	width: 90%;
	font-size: 16px;
	height: 30px;
	padding-left: 12px;
	margin: 20px auto 0px;

}

/*------------Gallery Styles----------*/


#gallery {
	height: 90%;
	width: 90%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

#gallery a {
	width: 80%;
	height: 80%;
}

#gallery img {
	padding-top: 50px;
	height: 100%;
	width: 100%;
}

/*------------MEDIA QUERIES(Min-Width-768px)----------*/

@media(min-width: 768px) {

	#gallery a {
			width: 33%;
			height: 33%;
		}

	#gallery img {
		padding: 25px;
	}

	input[class="search"]{
		width: 50%;
	}
}
/*------------MEDIA QUERIES(Min-Width-1024px)----------*/

@media(min-width: 1024px) {
	#gallery a {
			width: 25%;
			height: 25%;
		}
}


/*Lightbox Styling*/
#lightboxOverlay {
		opacity: 0.7;

}

.lightbox .lb-image {
	border: 0;
	border-radius: 0;
}

.lb-data .lb-caption {
	/*Set width to 600px, */
}

.lb-data .lb-close {
	display: none;
}

.lb-details div {
	display: float !important;
	justify-content: center;
}

.lb-dataContainer {
	display: flex;
	justify-content: center;
}

.lb-data .lb-details {
	float: none;
	width: 100%;
	margin-top: 35px;
}
